
main {
    padding: 20px;
    color: #333;
}

.learning-zone, .join, .recent-publication, .previous-publications {
    margin-bottom: 20px;
}

h1, h2 {
    color: #0056b3;
}

.recent-publication {
    text-align: center;
    margin-bottom: 20px;
}

.recent-publication img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: auto;
}

.recent-publication p {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.photo {
    background-color: #00BFFF;
    height: auto;
    overflow: hidden;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.gallery a, .recent-publication a {
    text-decoration: none;
}

.gallery a:hover, .recent-publication a:hover {
    opacity: 0.8;
}


.learning-zone {
    padding: 20px;
    background-color: #f0f8ff;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}



.member-list {
    flex: 1;
    padding: 10px;
    background-color: #e6f7ff;
    border-radius: 10px;
}

.member-list h2 {
    color: #0056b3;
}

.member-list ul {
    list-style-type: none;
    padding: 0;
}

.member-list li {
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

.member-list li:last-child {
    border-bottom: none;
}


.join h2 {
    text-align: right;
    padding-left: 20px;
    color: #0056b3;
}

.join {
    padding: 20px;
    background-color: #eef6ff;
}



.join li {
    padding: 10px 0;

}


.contact {
    padding: 20px;
    background-color: #f0f8ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.contact h2 {
    text-align: center;
    color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 12px 15px;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #71b2f7;
    color: white;
    font-size: 16px;
}

tbody tr:hover {
    background-color: #e0f7ff;
}

td {
    color: #333;
}
