/* Contenedor Principal */
.container {
  padding: 0 15px;
}


.mission-container {
  background-color: #f96071; /* Ejemplo de color para misión */
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px; /* Ancho máximo ajustado para una lectura más enfocada */
  margin: 20px auto; /* Centrado y espaciado */
  text-align: center;
}


.mission-text {
  font-size: 18px;
  line-height: 1.6;
}

/* Estilos para contenedores de imágenes */
.image-container {
  padding: 20px;
  position: relative;
  text-align: center;
}

/* Estilos para todas las imágenes dentro de los contenedores de imágenes */
.image-container img {
  width: 100%; /* Asegura que la imagen se ajuste al contenedor */
  height: auto;
  border-radius: 10px; /* Bordes redondeados para las imágenes */
}

/* Estilos para los textos superpuestos sobre imágenes */
.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.section {
  background-color: #fff; 
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
}


.d-flex {
  border: 1px solid #eee; 
  border-radius: 8px; 
  background-color: #fafafa; 
  padding: 20px; 
  margin-bottom: 20px; 
  box-shadow: 0 1px 4px rgba(0,0,0,0.06); 
  width: 90%; 
  margin: auto; 
}


.text-center {
  font-size: 16px;
  color: #333; 
}



.text-secondary {
  font-size: 14px; 
  color: #6c757d; 
}

.img-fluid {
  border-radius: 50%; 
  width: 100px; 
  height: auto; 
  margin-bottom: 10px; 
}


h1, h2 {
  font-family: 'Inria Serif', serif;
  color: #8438FF; 
  margin-bottom: 15px;
}

/* Personalización para h1 en particular */
h1.text-left {
  color: orange; /* Estilo específico para encabezados h1 con clase 'text-left' */
}

/* Ajustes de columnas para responsividad y presentación */
.col-md-6 {
  padding: 10px;
}

/* Personalización adicional para distintas secciones */
.custom-image {
  max-width: 100%;
  height: auto;
}

/* Opciones de color para contenedores con diferentes temas o propósitos */
.mission-container[style*="background-color: #f97260"] {
  background-color: #f97260; /* Especifica un color personalizado si es necesario */
}

.mission-container[style*="background-color: #ff9559"] {
  background-color: #ff9559;
}


.row {
  margin-right: 0;
  margin-left: 0;
}


.container > .row {
  margin-top: 50px; /* Espacio adicional para separar filas dentro del contenedor */
}

/* Contenedor general para el pulpo */
.pulpo-container {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
  pointer-events: none;
  width: 100%;
}

/* Estilos base para el pulpo */
.pulpo {
  position: absolute;
  left: -100%; /* Inicia fuera de la pantalla a la izquierda */
  transition: transform 1s ease-in-out, left 1s ease-in-out; /* Transiciones suavizadas para movimiento y rotación */
  will-change: transform, left; /* Optimiza las propiedades que cambiarán */
}

/* Animación que alterna el pulpo desde ambos lados */
@keyframes peekaboo {
  0%, 100% {
    left: -100%; /* Oculto a la izquierda */
    transform: rotateY(0deg); /* Orientado normalmente */
  }
  25%, 75% {
    left: 50%; /* Centro de la ventana */
    transform: rotateY(180deg); /* Rotar para asomar desde el derecho */
  }
  50% {
    left: 100%; 
    transform: rotateY(0deg); 
  }
}

/* Aplica la animación basada en una clase activa */
.pulpo-animate {
  animation: peekaboo 10s infinite; /* Ciclo continuo cada 10 segundos */
}















