.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #ffffff;
}

.titulo1 {
    font-family: "Roboto Condensed", "sans-serif";
    font-size: 60px;
    color: #87DA35;
    font-weight: 668;
    text-align: center;
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.video-wrapper {
    width: 80%; /* Ajusta este valor según la anchura deseada del video */
    position: relative;
    padding-bottom: 56.25%; /* Aspect ratio de 16:9 */
    height: 0;
}

.video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.boton-container {
    display: flex;
    justify-content: space-between; 
    width: 80%; 
    margin-bottom: 20px; 
}

button {
    flex: 1; 
    margin: 0 10px; 
    padding: 10px 50px; 
    font-size: 16px; 
    background-color: #87DA35; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    outline: none; 
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #75c32e; 
}


.ins, .asig, .malla, .prog, .opor, .tari {
    margin-right: 10px; 
    margin-left: 10px; 
}


.ins:last-child, .asig:last-child, .malla:last-child, .prog:last-child, .opor:last-child, .tari:last-child {
    margin-right: 0;
}

.trabajo-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff; /* Asegúrate que el fondo de la sección sea blanco si es necesario */
}

.contenido-texto {
    flex: 1; /* Ocupa el espacio disponible excepto el necesario para la imagen */
    padding-right: 20px; /* Espacio entre el texto y la imagen */
}

.imagen-trabajo {
    flex-basis: 50%; /* Ocupa hasta el 50% del espacio disponible en la fila */
    padding: 20px;
    background-color: #fff; /* Fondo blanco para la imagen */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra suave para resaltar el recuadro de la imagen */
    border-radius: 10px; /* Bordes redondeados */
}

.titulo-trabajo {
    font-family: "Roboto Condensed", "sans-serif";
    font-size: 40px;
    color: #9ef829;
    margin-bottom: 15px; /* Espacio debajo del título */
}

ul {
    list-style-type: none; /* Remueve los puntos de la lista */
    padding: 0;
}

li {
    padding: 10px 0;
    font-size: 18px;
    line-height: 1.6; /* Espaciado entre líneas para mejorar la legibilidad */
}


.imgGrupo{
    border-radius: 10px;
    margin-left: 900px;
    margin-top: -570px;
    height: 70%;
}


.areas{
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-size: 70px;
    text-align: center;
}

.areasDiv{
    background-color: #C0EA97;
    width: 45%;
    height: 40%;
    margin-left: 100px;
}

.ramas{
    font-size: 35px;
    margin-left: 100px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 100px
}

.contenedor1{
    display: flex;
    align-items: center;
}

.inter-texto{
    color: #A2DE7D;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 60px;
    font-weight: 700;
}


.Fondo {
    background-color: #ffffff; /* Establece el color de fondo a blanco */
    padding: 20px; /* Añade algo de espacio alrededor de los contenidos internos */
    margin: auto; /* Centra el div si es necesario */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Opcional: Añade una sombra para resaltar el área */
    width: 100%; /* Ajusta esto según la necesidad de tu diseño, podría ser menos del 100% */
    border-radius: 10px; /* Bordes redondeados para un diseño más suave */
}

.actividades {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.actividad {
    display: flex;
    width: 90%; /* Ajusta al tamaño deseado */
    margin: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.imagen-actividad, .texto-actividad {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.imagen-actividad.izquierda, .texto-actividad.derecha {
    order: 1;
}

.imagen-actividad.derecha, .texto-actividad.izquierda {
    order: 2;
}

.rounded {
    width: 100%; /* Asegura que la imagen use todo el espacio disponible */
    height: auto;
    border-radius: 10px; /* Esquinas redondeadas */
}

.shadow-lg {
    box-shadow: 0 4px 8px rgba(0,0,0,0.25); /* Sombra para la imagen */
}

.texto-actividad {
    background-color: #d3ffa6; /* Fondo verde */
    color: black;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.imgGrupo, .imagen-actividad img {
    animation: float 6s infinite ease-in-out;
}

@keyframes colorShift {
    0% {
        color: #87DA35;
    }
    50% {
        color: #76be18;
    }
    100% {
        color: #87DA35;
    }
}

.titulo1, .titulo-trabajo {
    animation: colorShift 8s infinite ease-in-out;
}

@keyframes sway {
    0%, 100% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
}

.areasDiv {
    animation: sway 6s ease-in-out infinite;
}

.titleH3{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 60px;
    color: #95DA17;
    font-weight: 668;
    text-align: center;
    width: 100%;
}










