    /* Estilo para el contenedor de la imagen de fondo */
    .background-image {
        position: relative;
        height: 100vh;
        background-image: url('Images/InicioSesion/paisaje1.jpeg');
        background-size: cover;
        background-position: center;
      }
  
      /* Filtro de superposición para oscurecer la imagen */
      .background-image::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        /* Cambia el último valor para ajustar la opacidad */
      }
  
      .login-panel {
        background-color: rgba(255, 255, 255, 0);
        border: 2px solid #ffffff;
        /* Borde blanco */
        border-radius: 10px;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 400px;
        text-align: center;
        color: #ffffff;
      }
  
  
      .login-panel input[type="text"],
      .login-panel input[type="password"] {
        background-color: transparent;
        /* Fondo transparente */
        border: 1px solid #ffffff;
        /* Borde blanco */
        border-radius: 15px;
        /* Bordes más redondeados */
        color: #ffffff;
        /* Texto blanco */
        margin-bottom: 20px;
        /* Espaciado inferior */
        padding: 10px;
        /* Espaciado interno */
      }
  
      /* Estilo para el placeholder */
      .login-panel input[type="text"]::placeholder,
      .login-panel input[type="password"]::placeholder {
        color: #ffffff;
        /* Color del placeholder blanco */
      }
  
      /* Estilo para el botón */
      .login-panel input[type="button"] {
        background-color: #ffffff;
        color: #000000;
        border: none;
        border-radius: 15px;
        padding: 10px 20px;
      }
  
      /* Estilo para el botón cuando se presiona */
      .login-panel input[type="button"].btn-primary:active {
        background-color: #000000;
        border-color: #fff;
      }